/* こちらのファイルは必須ではありません。 */

body {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 16px;
  font-weight: 700;
}